@import "tailwindcss";

::selection {
  background-color: #4154e1;
  color: #ffffff;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-grey-1: #F2F2F2;
  --color-grey-2: #BDBEBF;
  --color-grey-3: #A1A2A6;
  --color-grey-4: #515559;
  --color-grey-45: #777a7e;
  --color-grey-5: #202326;
  --color-blue-11: #4154e1;
  --color-blue-1: #5568D9;
  --color-blue-2: #798BF2;
  --color-blue-3: #94A2F2;
  --color-blue-4: #C2C9F2;
  --color-blue-5: #F0F0F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grad-google{
  background: #4285F4;
  background: linear-gradient(0deg, rgba(66, 133, 244, 1) 0%, rgba(52, 168, 83, 1) 33%, rgba(251, 188, 5, 1) 67%, rgba(234, 67, 53, 1) 100%);
}

@keyframes rainfall-diagonal-strong {
  0% {
    transform: translate(0, -100px) rotate(75deg) skew(10deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-60vw, 100vh) rotate(75deg) skew(10deg);
    opacity: 0;
  }
}